

.box-container {
	height: 200px;
}

.box-item {
	width: 100%;
	z-index: 1000
}

body {
	padding: 25px;
	background-color: black;
}

.jumbotron {
	background-image: url("dota2image.jpg");
	background-size: cover;
}