{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Heroes</h1>
          </div>
          <div id="container1" class="panel-body box-container">
            <div itemid="1" class="hero-item btn btn-default box-item">{{ response[0]['localized_name'] }}</div>
            <div itemid="2" class="hero-item btn btn-default box-item">{{ response[1]['localized_name'] }}</div>
            <div itemid="3" class="hero-item btn btn-default box-item">{{ response[2]['localized_name'] }}</div>
            <div itemid="4" class="hero-item btn btn-default box-item">{{ response[3]['localized_name'] }}</div>
            <div itemid="5" class="hero-item btn btn-default box-item">{{ response[4]['localized_name'] }}</div>
            <div itemid="6" class="hero-item btn btn-default box-item">{{ response[5]['localized_name'] }}</div>
            <div itemid="7" class="hero-item btn btn-default box-item">{{ response[6]['localized_name'] }}</div>
            <div itemid="8" class="hero-item btn btn-default box-item">{{ response[7]['localized_name'] }}</div>
            <div itemid="9" class="hero-item btn btn-default box-item">{{ response[8]['localized_name'] }}</div>
            <div itemid="10" class="hero-item btn btn-default box-item">{{ response[9]['localized_name'] }}</div>
            <div itemid="11" class="hero-item btn btn-default box-item">{{ response[10]['localized_name'] }}</div>
            <div itemid="12" class="hero-item btn btn-default box-item">{{ response[11]['localized_name'] }}</div>
            <div itemid="13" class="hero-item btn btn-default box-item">{{ response[12]['localized_name'] }}</div>
            <div itemid="14" class="hero-item btn btn-default box-item">{{ response[13]['localized_name'] }}</div>
            <div itemid="15" class="hero-item btn btn-default box-item">{{ response[14]['localized_name'] }}</div>
            <div itemid="16" class="hero-item btn btn-default box-item">{{ response[15]['localized_name'] }}</div>
            <div itemid="17" class="hero-item btn btn-default box-item">{{ response[16]['localized_name'] }}</div>
            <div itemid="18" class="hero-item btn btn-default box-item">{{ response[17]['localized_name'] }}</div>
            <div itemid="19" class="hero-item btn btn-default box-item">{{ response[18]['localized_name'] }}</div>
            <div itemid="20" class="hero-item btn btn-default box-item">{{ response[19]['localized_name'] }}</div>
            <div itemid="21" class="hero-item btn btn-default box-item">{{ response[20]['localized_name'] }}</div>
            <div itemid="22" class="hero-item btn btn-default box-item">{{ response[21]['localized_name'] }}</div>
            <div itemid="23" class="hero-item btn btn-default box-item">{{ response[22]['localized_name'] }}</div>
            <div itemid="24" class="hero-item btn btn-default box-item">{{ response[23]['localized_name'] }}</div>
            <div itemid="25" class="hero-item btn btn-default box-item">{{ response[24]['localized_name'] }}</div>
            <div itemid="26" class="hero-item btn btn-default box-item">{{ response[25]['localized_name'] }}</div>
            <div itemid="27" class="hero-item btn btn-default box-item">{{ response[26]['localized_name'] }}</div>
            <div itemid="28" class="hero-item btn btn-default box-item">{{ response[27]['localized_name'] }}</div>
            <div itemid="29" class="hero-item btn btn-default box-item">{{ response[28]['localized_name'] }}</div>
            <div itemid="30" class="hero-item btn btn-default box-item">{{ response[29]['localized_name'] }}</div>
            <div itemid="31" class="hero-item btn btn-default box-item">{{ response[30]['localized_name'] }}</div>
            <div itemid="32" class="hero-item btn btn-default box-item">{{ response[31]['localized_name'] }}</div>
            <div itemid="33" class="hero-item btn btn-default box-item">{{ response[32]['localized_name'] }}</div>
            <div itemid="34" class="hero-item btn btn-default box-item">{{ response[33]['localized_name'] }}</div>
            <div itemid="35" class="hero-item btn btn-default box-item">{{ response[34]['localized_name'] }}</div>
            <div itemid="36" class="hero-item btn btn-default box-item">{{ response[35]['localized_name'] }}</div>
            <div itemid="37" class="hero-item btn btn-default box-item">{{ response[36]['localized_name'] }}</div>
            <div itemid="38" class="hero-item btn btn-default box-item">{{ response[37]['localized_name'] }}</div>
            <div itemid="39" class="hero-item btn btn-default box-item">{{ response[38]['localized_name'] }}</div>
            <div itemid="40" class="hero-item btn btn-default box-item">{{ response[39]['localized_name'] }}</div>
            <div itemid="41" class="hero-item btn btn-default box-item">{{ response[40]['localized_name'] }}</div>
            <div itemid="42" class="hero-item btn btn-default box-item">{{ response[41]['localized_name'] }}</div>
            <div itemid="43" class="hero-item btn btn-default box-item">{{ response[42]['localized_name'] }}</div>
            <div itemid="44" class="hero-item btn btn-default box-item">{{ response[43]['localized_name'] }}</div>
            <div itemid="45" class="hero-item btn btn-default box-item">{{ response[44]['localized_name'] }}</div>
            <div itemid="46" class="hero-item btn btn-default box-item">{{ response[45]['localized_name'] }}</div>
            <div itemid="47" class="hero-item btn btn-default box-item">{{ response[46]['localized_name'] }}</div>
            <div itemid="48" class="hero-item btn btn-default box-item">{{ response[47]['localized_name'] }}</div>
            <div itemid="49" class="hero-item btn btn-default box-item">{{ response[48]['localized_name'] }}</div>
            <div itemid="50" class="hero-item btn btn-default box-item">{{ response[49]['localized_name'] }}</div>
            <div itemid="51" class="hero-item btn btn-default box-item">{{ response[50]['localized_name'] }}</div>
            <div itemid="52" class="hero-item btn btn-default box-item">{{ response[51]['localized_name'] }}</div>
            <div itemid="53" class="hero-item btn btn-default box-item">{{ response[52]['localized_name'] }}</div>
            <div itemid="54" class="hero-item btn btn-default box-item">{{ response[53]['localized_name'] }}</div>
            <div itemid="55" class="hero-item btn btn-default box-item">{{ response[54]['localized_name'] }}</div>
            <div itemid="56" class="hero-item btn btn-default box-item">{{ response[55]['localized_name'] }}</div>
            <div itemid="57" class="hero-item btn btn-default box-item">{{ response[56]['localized_name'] }}</div>
            <div itemid="58" class="hero-item btn btn-default box-item">{{ response[57]['localized_name'] }}</div>
            <div itemid="59" class="hero-item btn btn-default box-item">{{ response[58]['localized_name'] }}</div>
            <div itemid="60" class="hero-item btn btn-default box-item">{{ response[59]['localized_name'] }}</div>
            <div itemid="61" class="hero-item btn btn-default box-item">{{ response[60]['localized_name'] }}</div>
            <div itemid="62" class="hero-item btn btn-default box-item">{{ response[61]['localized_name'] }}</div>
            <div itemid="63" class="hero-item btn btn-default box-item">{{ response[62]['localized_name'] }}</div>
            <div itemid="64" class="hero-item btn btn-default box-item">{{ response[63]['localized_name'] }}</div>
            <div itemid="65" class="hero-item btn btn-default box-item">{{ response[64]['localized_name'] }}</div>
            <div itemid="66" class="hero-item btn btn-default box-item">{{ response[65]['localized_name'] }}</div>
            <div itemid="67" class="hero-item btn btn-default box-item">{{ response[66]['localized_name'] }}</div>
            <div itemid="68" class="hero-item btn btn-default box-item">{{ response[67]['localized_name'] }}</div>
            <div itemid="69" class="hero-item btn btn-default box-item">{{ response[68]['localized_name'] }}</div>
            <div itemid="70" class="hero-item btn btn-default box-item">{{ response[69]['localized_name'] }}</div>
            <div itemid="71" class="hero-item btn btn-default box-item">{{ response[70]['localized_name'] }}</div>
            <div itemid="72" class="hero-item btn btn-default box-item">{{ response[71]['localized_name'] }}</div>
            <div itemid="73" class="hero-item btn btn-default box-item">{{ response[72]['localized_name'] }}</div>
            <div itemid="74" class="hero-item btn btn-default box-item">{{ response[73]['localized_name'] }}</div>
            <div itemid="75" class="hero-item btn btn-default box-item">{{ response[74]['localized_name'] }}</div>
            <div itemid="76" class="hero-item btn btn-default box-item">{{ response[75]['localized_name'] }}</div>
            <div itemid="77" class="hero-item btn btn-default box-item">{{ response[76]['localized_name'] }}</div>
            <div itemid="78" class="hero-item btn btn-default box-item">{{ response[77]['localized_name'] }}</div>
            <div itemid="79" class="hero-item btn btn-default box-item">{{ response[78]['localized_name'] }}</div>
            <div itemid="80" class="hero-item btn btn-default box-item">{{ response[79]['localized_name'] }}</div>
            <div itemid="81" class="hero-item btn btn-default box-item">{{ response[80]['localized_name'] }}</div>
            <div itemid="82" class="hero-item btn btn-default box-item">{{ response[81]['localized_name'] }}</div>
            <div itemid="83" class="hero-item btn btn-default box-item">{{ response[82]['localized_name'] }}</div>
            <div itemid="84" class="hero-item btn btn-default box-item">{{ response[83]['localized_name'] }}</div>
            <div itemid="85" class="hero-item btn btn-default box-item">{{ response[84]['localized_name'] }}</div>
            <div itemid="86" class="hero-item btn btn-default box-item">{{ response[85]['localized_name'] }}</div>
            <div itemid="87" class="hero-item btn btn-default box-item">{{ response[86]['localized_name'] }}</div>
            <div itemid="88" class="hero-item btn btn-default box-item">{{ response[87]['localized_name'] }}</div>
            <div itemid="89" class="hero-item btn btn-default box-item">{{ response[88]['localized_name'] }}</div>
            <div itemid="90" class="hero-item btn btn-default box-item">{{ response[89]['localized_name'] }}</div>
            <div itemid="91" class="hero-item btn btn-default box-item">{{ response[90]['localized_name'] }}</div>
            <div itemid="92" class="hero-item btn btn-default box-item">{{ response[91]['localized_name'] }}</div>
            <div itemid="93" class="hero-item btn btn-default box-item">{{ response[92]['localized_name'] }}</div>
            <div itemid="94" class="hero-item btn btn-default box-item">{{ response[93]['localized_name'] }}</div>
            <div itemid="95" class="hero-item btn btn-default box-item">{{ response[94]['localized_name'] }}</div>
            <div itemid="96" class="hero-item btn btn-default box-item">{{ response[95]['localized_name'] }}</div>
            <div itemid="97" class="hero-item btn btn-default box-item">{{ response[96]['localized_name'] }}</div>
            <div itemid="98" class="hero-item btn btn-default box-item">{{ response[97]['localized_name'] }}</div>
            <div itemid="99" class="hero-item btn btn-default box-item">{{ response[98]['localized_name'] }}</div>
            <div itemid="100" class="hero-item btn btn-default box-item">{{ response[99]['localized_name'] }}</div>
            <div itemid="101" class="hero-item btn btn-default box-item">{{ response[100]['localized_name'] }}</div>
            <div itemid="102" class="hero-item btn btn-default box-item">{{ response[101]['localized_name'] }}</div>
            <div itemid="103" class="hero-item btn btn-default box-item">{{ response[102]['localized_name'] }}</div>
            <div itemid="104" class="hero-item btn btn-default box-item">{{ response[103]['localized_name'] }}</div>
            <div itemid="105" class="hero-item btn btn-default box-item">{{ response[104]['localized_name'] }}</div>
            <div itemid="106" class="hero-item btn btn-default box-item">{{ response[105]['localized_name'] }}</div>
            <div itemid="107" class="hero-item btn btn-default box-item">{{ response[106]['localized_name'] }}</div>
            <div itemid="108" class="hero-item btn btn-default box-item">{{ response[107]['localized_name'] }}</div>
            <div itemid="109" class="hero-item btn btn-default box-item">{{ response[108]['localized_name'] }}</div>
            <div itemid="110" class="hero-item btn btn-default box-item">{{ response[109]['localized_name'] }}</div>
            <div itemid="111" class="hero-item btn btn-default box-item">{{ response[110]['localized_name'] }}</div>
            <div itemid="112" class="hero-item btn btn-default box-item">{{ response[111]['localized_name'] }}</div>
            <div itemid="113" class="hero-item btn btn-default box-item">{{ response[112]['localized_name'] }}</div>
            <div itemid="114" class="hero-item btn btn-default box-item">{{ response[113]['localized_name'] }}</div>
            <div itemid="119" class="hero-item btn btn-default box-item">{{ response[114]['localized_name'] }}</div>
            <div itemid="120" class="hero-item btn btn-default box-item">{{ response[115]['localized_name'] }}</div>
            <div itemid="121" class="hero-item btn btn-default box-item">{{ response[116]['localized_name'] }}</div>
            <div itemid="126" class="hero-item btn btn-default box-item">{{ response[117]['localized_name'] }}</div>
            <div itemid="128" class="hero-item btn btn-default box-item">{{ response[118]['localized_name'] }}</div>
          </div>

        </div>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Friendly Team</h1>
          </div>
          <div id="container2" class="panel-body box-container bg-success text-white"></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Enemy Team</h1>
          </div>
          <div id="container3" class="panel-body box-container bg-danger text-white"></div>
        </div>
    </div>
<!--     <form>
        <label for="models">Choose a car:</label>
        <select name="models" id="models">
          <option value="stacked">Stacked</option>
          <option value="supervised">Supervised</option>
          <option value="unsupervised">Unsupervised</option>
        </select>
        <br><br>
        <input id="submit-teams" type="submit" value="Submit Match">
      </form> -->
      <div >
        <button id="submit-teams" type="submit" class="ui btn btn-primary">Submit Match</button>
      </div>
      <div style="color: white; padding: 25px">And the predicted winner is...
         <!-- diplay model result --> 
        <p style="font-weight: bold; font-size: large; color: white;" id="outcome"></p>
      </div>
    </div>
    
</div>

{% endblock %}